@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  background: #FFE17F;
  text-transform: uppercase;
  text-decoration: none;
}

.button-light {
  color: #000000;
  background: #F0F0F0;
}

.button-dark {
  color: #FFFFFF;
  background: #444444;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

/* Header */
.page-header-container {
  width: 1040px;
  margin: 0 auto;
  padding: 0 60px;
  color: #000000;
  background-color: #FFE17F;
}

.page-header-logo {
  background-color: #FFE17F;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.navigation-link {
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
}

.search-form {
  width: 359px;
}

.search-form-input {
  color: #000000;
  background-color: #FFE17F;
  font-size: 16px;
  line-height: 20px;
}

.search-form-button {
  color: #000000;
  background-color: #FFE17F;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/* Footer */
.page-footer {
  color: #FFFFFF;
  background-color: #444444;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-contacts-address {
  width: 234px;
}

.footer-navigation-social-container {
  margin-left: 117px;
}

.footer-contacts-phone {
  width: 175px;
  margin-left: auto;
}

.page-footer-logo {
  background-color: #444444;
}

.footer-address {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer-phone {
  color: #FFFFFF;
}

.footer-social-link {
  color: #FFFFFF;
  text-decoration: none;
}


/* Main-index */
.main-container {
  flex-grow: 1;
}
/* .main-index {
  background-color: #FFFFFF;
} */

  /* Gallery */
.gallery {
  color: #444444;
  background-color: #FFFFFF;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

.gallery-image,
.gallery-description {
  width: 560px;
}

.slider-number {
  color: #FFFFFF;
  background-color: #FFE17F;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  text-align: right;
}

.slider-slogan {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
}

.slider-link {
  color: #000000;
  background-color: #FFE17F;
  text-align: center;
}

.slider-properties-meaning {
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  line-height: 30px;
}

.slider-properties-name {
  font-size: 16px;
}

  /* Catalog-index */
.catalog-index {
  color: #000000;
  background-color: #FFFFFF;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-item {
  width: 160px;
}

.catalog-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
}

  /* Advantages */
.advantages {
  background-color: #F0F0F0;
}

.advantages-container {
  display: flex;
}

.advantages-list {
  width: 280px;
  margin: 0;
  padding: 0;
}

.advantages-description {
  width: 694px;
  margin-left: 116px;
}

.advantages-item-button {
  text-align: center;
  background-color: #FFE17F;
}

.advantages-item-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

  /* Special-offer */
.special-offer {
  background-color: #F0F0F0;
}

.special-offer-text {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

  /* About-company Contacts */
.index-columns {
  display: flex;
  justify-content: space-between;
  color: #444444;
  background-color: #FFFFFF;
}
.about-company,
.contacts {
  width: 497px;
}

.about-company-title,
.contacts-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.transport-company-list{
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: #444444;
}

.about-company-link,
.contacts-link {
  color: #000000;
  background-color: #FFE17F;
  text-align: center;
}

  /* Subscription */
.subscription {
  background-color: #F0F0F0;
}

.subscription-container {
  display: flex;
  justify-content: space-between;
}

.subscription-subtitle {
  width: 348px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscription-description {
  width: 560px;
}

.subscription-input {
  width: 557px;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #F0F0F0;
}

.subscription-button {
  text-align: center;
}

.subscription-note {
  margin-left: auto;
}


/* Main-inner */

  /* Inner-header */
.inner-header {
  padding-left: 60px;
  color: #000000;
  /* background-color: #FFFFFF; */
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

  /* Product-container */
.products-container {
  color: #000000;
  background-color: #F0F0F0;
}

.inner-columns {
  display: flex;
}

.products-filter {
  width: 320px;
  padding-left: 60px;
}

.products-catalog {
  width: 840px;
}

.products-filter-title,
.products-sort-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.products-filter-name {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.products-filter-label {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  opacity: 0.3;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
}

.products-filter-button {
  color: #000000;
  background-color: #FFE17F;
  text-align: center;
}

.sorting-container {
  display: flex;
}

.products-sort-title {
  margin-left: 40px;
}

.select-control{
  margin-left: 196px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #F0F0F0;
}

.products-list {
  margin: 0;
  padding: 0;
}

.products-list-container {
  color: #000000;
  background-color: #FFFFFF;
}

.product-card-image {
  background-color: #F0F0F0;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.show-more-button {
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.pagination {
  color: #000000;
  background-color: #F0F0F0;
}

.pagination-link {
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  opacity: 0.3;
  text-decoration: none;
}

