@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
}

.button-color {
  background-color: #FFE17F;
  padding: 10px 0;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

/* Header */
.page-header {
  margin-top: 40px;
}

.header-container {
  width: 1040px;
  margin: 0 auto;
  padding: 0 60px 137px 60px;
  color: #000000;
  background-color: #FFE17F;
}

.logo {
  display: block;
  width: 145px;
  height: 36px;
}

.logo-header {
  margin-bottom: 30px;
  background-color: #FFE17F;
}

.navigation-row-top {
  display: flex;
  align-items: start;
  margin-bottom: 30px;
}

.search-form {
  display: flex;
  margin-right: 25px;
}

.search-form-input {
  width: 308px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 48px;
  color: #000000;
  background-color: #FFE17F;
  font-size: 16px;
  line-height: 20px;
}

.search-form-button {
  padding: 10px 55px;
  color: #000000;
  background-color: #FFE17F;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 5px 0 5px 27px;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
}

.navigation-login {
  justify-content: start;
  min-width: 231px;
  margin-right: auto;
}

.navigation-buy {
  justify-content: end;
  min-width: 241px;
  margin-left: auto;
}

.navigation-row-bottom {
  display: flex;
  align-items: end;
}

.navigation-site-catalog-link {
  margin-right: auto;
}

.navigation-site {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-site-header .navigation-site-item:not(:nth-child(3n)) {
  width: 172px;
}

.navigation-site-link,
.navigation-site-catalog-link {
  display: inline-block;
  padding: 15px 0;
  color: inherit;
}

/* Footer */
.page-footer {
  color: #FFFFFF;
  background-color: #444444;
}

.footer-columns {
  display: flex;
  padding-bottom: 61px;
}

.footer-contacts-address {
  width: 236px;
  margin-right: 117px;
}

.logo-footer {
  padding-top: 62px;
  margin-bottom: 35px;
  background-color: #444444;
}

.footer-address {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
}

.navigation-site-footer {
  padding-top: 122px;
  margin-bottom: 62px;
}

.navigation-site-footer .navigation-site-item {
  margin-right: 35px;
}

.navigation-site-footer .navigation-site-item:last-child {
  margin-right: 0;
}

.footer-social-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  grid-template-rows: 40px;
  gap: 15px;
  max-width: 465px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  background-color: palevioletred;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-contacts-phone {
  width: 175px;
}

.footer-phone {
  display: block;
  padding-top: 140px;
  margin-bottom: 63px;
  color: #FFFFFF;
}

.htmlacademy-img {
  display: block;
  width: 115px;
  height: 33px;
  margin-left: auto;
}


/* Main-index */
.main-container {
  flex-grow: 1;
}

  /* Gallery */
.gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  color: #444444;
  background-color: #FFFFFF;
}

.gallery-image,
.gallery-description {
  width: 560px;
}

.slider-number {
  display: block;
  width: 250px;
  height: 135px;
  margin-left: auto;
  color: #FFFFFF;
  background-color: #FFE17F;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  text-align: right;
}

.slider-slogan {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
}

.slider-description {
  margin: 0;
  margin-bottom: 51px;
}

.slider-navigation {
  display: flex;
  margin-bottom: 49px;
}

.slider-link {
  width: 220px;
  margin-right: auto;
}

.slider-pagination {
  display: grid;
  grid-template-columns: repeat(3, 12px);
  grid-template-rows: 12px;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  background-color: palevioletred;
}

.slider-pagination-button {
  margin: 0;
  padding: 0;
}

.slider-properties-list {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-properties-item {
  display: grid;
  gap: 12px;
}

.slider-properties-meaning {
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  line-height: 30px;
}

.slider-properties-name {
  font-size: 16px;
}

  /* Catalog-index */
.catalog-index {
  margin-bottom: 70px;
  color: #000000;
  background-color: #FFFFFF;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-item {
  display: grid;
  /* grid-template-rows: auto 60px; */
  gap: 33px;
}

.catalog-icon-link {
  position: relative;
  width: 160px;
  height: 160px;
  background-color:#FFE17F ;
}

.catalog-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #363636;
}

.catalog-subtitle-link {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
}

/* .catalog-link {
  text-decoration: none;
}

.catalog-subtitle {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
} */

  /* Advantages */
.advantages {
  background-color: #F0F0F0;
}

.advantages-columns {
  display: flex;
  padding-bottom: 72px;
  margin-bottom: 70px;
}

.advantages-list {
  width: 280px;
  margin: 0;
  padding: 0;
  margin-right: 116px;
  padding-top: 64px;
  list-style-type: none;
}

.advantages-item {
  margin-bottom: 35px;
}

.advantages-item:last-child {
  margin-bottom: 0;
}

.advantages-item-button {
  width: 160px;
}

.advantages-item-button-active {
  color: #FFE17F;
  background-color: #000000;
}

.advantages-description {
  width: 694px;
  padding-top: 73px;
}

.advantages-item-title {
  margin: 0;
  margin-bottom: 34px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.advantages-item-description {
  margin: 0;
}

  /* Special-offer */
.special-offer {
  background-color: #F0F0F0;
  margin-bottom: 70px;
}

.special-offer-button {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 1160px;
}

.special-offer-text {
  flex-grow: 1;
  font-size: 20px;
  line-height: 23px;
}

.special-offer-img {
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
}

  /* About-company Contacts */
.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  color: #444444;
  background-color: #FFFFFF;
}

.about-company {
  width: 497px;
}

.contacts {
  width: 509px;
}

.about-company-title,
.contacts-title {
  margin: 0;
  margin-bottom: 48px;
  padding-top: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-company-description,
.contacts-description {
  margin: 0;
  margin-bottom: 30px;
}

.transport-company-list{
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  padding-left: 34px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.transport-company-item:not(:last-child) {
  margin-bottom: 19px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-address-text {
  margin: 0;
}

.contacts-phone {
  color: #444444;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.about-company-link {
  width: 270px;
}

.contacts-link {
  width: 259px;
}

  /* Subscription */
.subscription {
  background-color: #F0F0F0;
  padding-bottom: 56px;
}

.subscription-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 144px;
}

.subscription-subtitle {
  width: 348px;
  margin: 0;
  padding-left: 7px;
  padding-top: 64px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscription-description {
  width: 560px;
  margin: 0;
  padding-top: 74px;
}

.subscription-form {
  display: flex;
  align-items: center;
}

.subscription-input {
  width: 557px;
  height: 52px;
  padding: 0;
  padding-left: 17px;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #F0F0F0;
}

.subscription-button {
  width: 247px;
  height: 55px;
  border: 3px solid #CECECE;
  margin-right: auto;
}

/* Header-inner */

.header-container-inner {
  padding-bottom: 22px;
  margin-bottom: 35px;
 }

/* Main-inner */

  /* Main-inner-header */
.main-inner-header {
  padding-left: 60px;
  margin-bottom: 25px;
  color: #000000;
  /* background-color: #FFFFFF; */
}

.inner-header-title {
  margin: 0;
  margin-bottom: 6px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 16px;
  padding-right: 20px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

  /* Product-container */
.catalog-products {
  color: #000000;
  background-color: #F0F0F0;
}

.catalog-columns {
  display: flex;
}

.products-filter {
  width: 220px;
  padding-left: 60px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.products-filter-group {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border: none;
}

.products-filter-title,
.products-sort-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.products-filter-title {
  margin-bottom: 60px;
}

.products-filter-name {
  width: 200px;
  padding: 0;
  padding-top: 12px;
  margin-bottom: 20px;
  border-top: 2px solid #000000;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.products-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.products-filter-label {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  opacity: 0.3;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
}

.products-filter-button {
  width: 220px;
}


.catalog-right-column {
  width: 840px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.select-control{
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #F0F0F0;
}

.buttons-sort {
  width: 60px;
  height: 30px;
  background-color: palevioletred;
}

.products {
  padding: 70px 40px 78px;
  background-color: #FFFFFF;
}

.products-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 44px 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 44px;
}

.product-card-image {
  background-color: #F0F0F0;
  width: 360px;
  margin-bottom: 32px;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
}

.product-description {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.product-card-title {
  width: 205px;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.show-more-button {
  width: 760px;
  margin-bottom: 44px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-prev,
.pagination-next {
  padding: 25px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  opacity: 0.3;
  text-decoration: none;
}

